
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #EBEEF1;
    font-family: Roboto;
}
hr {
    border-top: 1px solid #a9aaab;
    margin-bottom: 15px;
    margin-top: 8px;
}

.sidenav {
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #3884ba;
    padding: 8px 8px 8px 8px
}
.main {
    margin-left: 15%;
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 1.5%;
}
.main p{
    color: #3884ba;
    font-size: 24px;
    margin: 8px;
    margin-top: 12px;
}

.column {
    height: 100%;
    width: calc(25% - 20px);
    float: left;
    margin: 10px;
    background-color: white;
    padding: 16px;
    padding-top: 12px;
    border-radius: 8px; /*curve corners*/
}


.column h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    color: #7e7e7e;
}





/* YAYAYAYAYA */

.add-task-btn {
    background-color: #3884ba;
    border: none;
    color: white;
    padding: 5px; /* makes button bigger */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* Decrease font size */
    border-radius: 5px;
    /* Adjust border radius 
    for a softer look */
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    /* background-color: #5ea6d9; */
    transform: scale(1.1);
}

.delete-btn {
    float: right;
    cursor: pointer;
    color: #a9aaab;
}

.task {
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 2px solid #9cc7eb;
    border-left: 10px solid #9cc7eb;
    cursor: move;
}

h3 {
    font-size: 16px;
    font-weight: 100;
    margin: 2px;
}
.task p {
    color: black;
    font-size: 14px;
    margin: 2px;
}
.task .description {
    color: #7e7e7e;
}



/* Modal stuffs below */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 8px 25px 20px 25px; /* top right bottom left */
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
.modal-input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
